<div class="container">
    <form >
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
        <label for="name" class="mr-4">Name:</label>
        <span>{{resultData.name}}</span>
        
    </div>    
    </div>
    
    <div class="col-lg-3">
        <div class="form-group">
    <label for="mobileno" class="mr-4">Mobile No:</label>
    <span>{{resultData.mobileno}}</span>
    </div>    
    </div>
    
    <div class="col-lg-3">
        <button type="submit" class="btn btn-primary" routerLink="/list">Cancel</button>
    </div>
    </div>
    </form>
    </div>